.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-box {
    flex: 1;

    z-index: 2;
    border: 5px solid black;
}

.controls-box {
    background-color: #f0f0f0;
    padding: 10px;
    position: sticky;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

button {
    padding: 1em;
    margin: 2em;
}

@media (max-width: 600px) {
    .controls-box {
        flex-direction: column;
        align-items: center;
    }
}